
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');




.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* ইউনিবার্সাল ডিজাইন */

.display-flex{
    display: flex;
}

.text-gray{
    color: #424242;

}
.text-light-gray{
    color: #727272;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary{
    background-color: #FF900E;
    /* width: 180px;
    height: 64px; */
    padding: 20px 25px;
    border-radius: 8px;
    font-size: 1.25rem;
    color: #FFFFFF;
    margin-top: 32px;
    margin-bottom: 50px;
    cursor: pointer;
    border: none;
}
.btn-primary:hover{
    background-color: crimson;
}
/* সবগুলোতে আলদা আলাদা করে ডিজাইন দেওয়া */


.brand-name{
    font-size: 3rem;
    font-weight: 700;
    color: #131313;
}

.navbar{
   
    justify-content: space-between;
    align-items: center;
}
.nav-links{
   
    gap: 30px;
}
.nav-items{
    list-style: none;
   
}
.nav-link{
    text-decoration: none;
    align-items: center;
     font-size:18px;
     font-weight: 500;
    
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-taitle{
    text-align: center;
     font-size: 4rem;
    width: 700;
    color: #131313;
}
.banner-discription{
    text-align: center;
    font-size: 16px;

}
.banner-img{
    width: 100%;

}

/* responsib midya qury */

@media screen and (max-width:576px) {
    .display-flex {
    flex-direction: column;
    }
    .team-img-container{
        width: 100%;
    grid-template-columns: repeat(1,1fr);
}
}

/* মেইন মেনুর ডিজাইন শুরু */

.teams{
    max-width: 1440px;
    margin: 0  auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 73px;
    margin-top: 85px;
    margin-bottom: 130px;

}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.our-features{
    
}
.features-title{
    font-size: 45px;
}

.features-title .span1{
    color: #727272;
}
.features-title .span2{
    color: #131313;
}
.features-title .span3{
    color: #FF900E;
}
.features-description{
    font-size:16px;
    color: #727272;
}
/* নতুন সেকশন কার্ড সেকশন */

.Some-Facts{
    max-width: 1440px;
    margin: 0 auto;

}
.Some-Facts-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 108px;
}
.Some-Facts-text h1{
    font-size: 45px;
    width: 700;
}
.Some-Facts-text p{
    font-size: 16px;
    width: 400;
    color: #727272;
}

.facts-container{
    display: flex;
    justify-content:center;
    gap: 110px;
    margin-bottom: 180px;
}
.facts-container .fact{
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 240px;
    height: 240px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
     padding: 24px;
     text-align: center;
}
.facts-container .fact .fact-icon{
    width: 45.22px;
    height: 45.22px;
}
.facts-container .fact-number{
    font-size: 45px;
    width: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}

.facts-container .fact-name{
    font-size: 20px;
    color: #727272;
    margin-top: 5px;
    margin-bottom: 10px;
}
/* নতুন সেকশন শেষ সেকশন */

.Our-Sponspors{
      max-width: 1440px;
      margin: 0 auto;
}
.Our-Sponspors .text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}

.Our-Sponspors .text h1{
    font-size: 45px;
    width: 700;
    color: #131313;
}

.Our-Sponspors .text p{
    font-size: 16px;
    width: 400;
    color: #727272;
}
.Our-Sponspors .img {
    display: flex;
    justify-content:space-between;
    align-items: center;
    filter: grayscale();
    margin-bottom: 130px;
}


/* ফুটার */

.footer{
    max-width: 1440px;
    height: 100px;
    margin: 0 auto;
    background-color: #FFF4E7;
    margin-bottom: 216px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p{
    font-size: 20px;
    width: 400;
}

.Features{
     max-width: 1440px;
     margin: 0 auto;
     margin-bottom: 168px;
     display: flex;
     justify-content: center;
     gap: 140px;

}
.Features .text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.card{
     display: flex;
    flex-direction: column;
    gap: 20px;
}
.card-de{
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    background: rgba(255, 255, 255, 1);
    padding: 30px;
}
.card-de h4{
    font-size: 20px;
    width: 600;
    color: #131313;
    margin-top: 0px;
    margin-bottom: 0px;
}
.card-de p{
    font-size: 16px;
    width: 400;
    color: #727272;
}
.text-main{

}
.text-main h2{
    font-size: 45px;
    width: 700;
    color: #131313;
    border-left: 1px solid #FF900E;
    padding: 21px;
}
.btn-exit{
    padding: 45px 42px;
    margin-left: -100px;
    margin-top: -100px;
    background-color: #FF900E;
    border-radius: 8px;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
}
.btn-primary:hover{
    background-color: crimson;
}
}
.btn-exit .btn-year{
    font-size: 65px;
    width: 700;
}
.btn-exit .btn-text{
    font-size: 25px;
    width: 500;
}